.order-history {
  max-height: 416px; /* height of profile form + submit button */
  overflow-y: auto;
}

.profile-form-input .form-control {
  color: #000;
}
.profile-form-input::placeholder {
  color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #aab7c4;
}